html, body{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

header{
	height: 78px;
	width: 100%;
	background: #BBDB04;
	Left: 50%;
	margin: 0 auto;
}

nav{
    width:935px;
    Left: 50%;
    margin: 0 auto;
}

.menue{
    float: left;
    text-align: center;
    color: white;
    font-size: 18px;
    padding-top: 24px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    height: 42px;
    cursor: pointer;
	margin: 0 auto;
}
header nav a{
    color:white;
    text-decoration:none;
}

.menue:hover{
    background:#CCDD77;
}

.active{
    background:#CCDD77;
}

